<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta Id Details</title>
    <link rel="stylesheet" href="./css.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    

</head>
<body>    
    
    <!-- <form action="/" method="GET">
        <h2>Enter the Insta Username</h2>
        <input type="text" name="username">
        <button type="submit" class="btn btn-danger btn-sm">Submit</button>
    </form> -->

    <div class="container d-flex justify-content-center">
        <div class="card mt-5 p-4">
            <div class="text-center"> <img id="image" style="width:80px;height: 80px;" class="rounded-circle" src="<%= image %>">
                <h4  class="mt-2 mb-1"><%= name %></h4> <span class="text-muted">
            </div>
            <div id="data">  

                <div class="d-flex flex-row justify-content-between mt-3">
                    <div class="d-flex flex-column">
                        <small class="text-muted">Posts</small> <p class="text-muted mb-0"><%= posts %></p>
                    </div>
                    </div>
                    <div class="d-flex flex-column">
                        <small class="text-muted">Followers</small> <p class="text-muted mb-0"><%= followers %></p>
                    </div>
                    </div>
                        <small class="text-muted">Following</small> <p class="text-muted mb-0"><%= following %></p>
                    </div>
                    </div>
                    <div style="text-align: center;">
                        <button  type="submit" style="background-color: goldenrod;" onclick="goback()" class="btn btn-dangerbtn-sm">See other insta Id</button>
                    </div>


            </div>
        </div>
    </div>
    <script>
        function goback(){
            window.location.replace('/')
        }
    </script>
</body>
</html>